body{
    background-color: blue;
}
#div1{
   
    background-color: aliceblue;
    height: 200px;
    width: 200px;

}
#div2{
    margin-top: 8px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
}
#hi{
  margin-top: 300px;
  margin-left: -270px;
}